.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 300px; /* Fixed height for all gallery items */
}
.gallery-item img {
    width: 100%;
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Ensure images cover the specified height */
    display: block;
}

.book-now-button {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.book-now-button button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #fc0050;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-now-button button:hover {
    background-color: #fc0050;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    background-color: green;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
}

.navbar {
    background-color: #fc0050;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li,
a {
    margin-right: 20px;
    color: #fff;
}

.nav-link {
    color: #fff;

}

.navbar-nav .nav-link {
    font-size: 18px;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 100px;
    box-sizing: border-box;
    background-color: #191919;
    color: #fff;
    padding: 17px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    width: 100%;
    padding: 1px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: #fff;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footlinks {
    flex: 1;
}

.footlinks h4 {
    margin-bottom: 10px;
    text-align: center;
}

.footlinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #333;
}

.footlinks ul li {
    margin-bottom: 10px;
    text-align: center;
    color: #191919;
}

.footlinks a {
    color: #fff;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.social a i {
    font-size: 24px;
}

.end {
    margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
    .title h1 {
        font-size: 40px;
    }

    .navbar-brand {
        position: absolute;
        left: 0;
        margin-left: 5px;
    }

    .navbar-toggler {
        margin-left: 30%;
        background-color: #fff;
        color: #0000ff;
    }
}

@media only screen and (min-width: 1025px) {
    .navbar-nav {
        margin-left: auto;
    }
}

.nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 1s ease;
}

.nav-link:hover {
    background-color: #404040
}

.nav-link::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background-color: transparent;
    border-radius: 25px;
    z-index: -1;
    transition: background-color 1s ease;
}

.nav-link:hover::before {
    background-color: rgba(255, 255, 255, 0.1);
}

.gallery-item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
}

